/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(../src/assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100hv;
}

.container{
    padding: 20px;
    background: rgba( 0, 0, 0, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

label {
    color: white;
}